$first-color: #6f4e37;
$second-color: #bfa58a;
$light-color: #fdfaf6;
$dark-color: #1c1c1c;

$font-main: 'Georgia', serif;

$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;
$radius: 0.5rem;

$bp-tablette: 680px;
$bp-desktop: 1200px;
